#include "Resource.h"
#include <windows.h>

ResourceMidi_File     RCDATA       "res/Mid0.mid"
NtpdRapeII_Icon       ICON         "res/NTPDRAPE-II.ico"

Main_Dlg DIALOGEX 55, 0, 131, 62
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "NTPDRAPE-II"
FONT 14, "Impact"
BEGIN
    AUTOCHECKBOX     "", DisableBtn_CheckBox, 96, 24, 11, 11
    LTEXT            "NTPDRAPE-II", IDC_STATIC, 44, 2, 43, 9, SS_NOPREFIX
    LTEXT            "By ThatOneScreensaver", IDC_STATIC, 24, 11, 84, 9, SS_NOPREFIX
    DEFPUSHBUTTON    "Begin", BeginEnd_Button, 46, 24, 39, 11, WS_GROUP
    LTEXT            "Threads To Run:", IDC_STATIC 2, 40, 75, 9, SS_NOPREFIX
    EDITTEXT         ThreadsToRun_EditBox, 60, 39, 20, 10, SS_NOPREFIX | SS_EDITCONTROL
    LTEXT            "Instances ran so far:", IDC_STATIC, 2, 51, 75, 11,  SS_NOPREFIX
    LTEXT            "", InstancesCount, 76, 51, 52, 11, SS_NOPREFIX | SS_EDITCONTROL
END
